/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 NiceuAnime
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --bright-yellow-crayola: hsl(36, 94%, 57%);
  --portland-orange: hsl(15, 84%, 57%);
  --battleship-gray: hsl(0, 0%, 53%);
  --silver-chalice: hsl(0, 0%, 70%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(208, 7%, 46%);
  --raisin-black: hsl(228, 6%, 17%);
  --eerie-black: hsl(210, 3%, 13%);
  --bittersweet: hsl(9, 96%, 69%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --amber: hsl(45, 100%, 51%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(220, 2%, 24%);

  /**
   * typography
   */

  --ff-bangers: 'Bangers', cursive;
  --ff-carter_one: 'Carter One', cursive;
  --ff-nunito_sans: 'Nunito Sans', sans-serif;

  --fs-1: 6.5rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 40px;

  /**
   * shadow
   */

  --shadow-1: 0 8px 16px hsla(0, 0%, 0%, 0.15);
  --shadow-2: 0 8px 8px hsla(0, 0%, 0%, 0.2);

  /**
   * radius
   */

  --radius-4: 4px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-nunito_sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.5;
}

body.Read {
  background-color: hsl(0, 0%, 0%);;
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.5;
}

body.Preview {
  background-color: hsl(0, 0%, 35%);;
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.5;
}

.chapter-dropdown {
  font-family: var(--ff-bangers);
  font-weight: bold;
  width: auto; /* Panjang dropdown mengikuti panjang tulisannya */
  background-color: #3498db;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  margin: 20px;
}

/* PRELOADER */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed; /* Mengubah posisi menjadi fixed agar selalu menutupi halaman */
  top: 0;
  left: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Menempatkan loader di depan konten */
}
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  animation: text_713 3.5s ease both infinite;
  font-size: medium;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
}

.load {
  background-color: #fc7b64;
  border-radius: 50px;
  display: block;
  height: 4px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f8e02a;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 80%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 80%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 100%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 100%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}


/* Pagination */

.Pagination {
  position: relative;
  background: #fff;
  display: flex; /* Menggunakan flexbox */
  justify-content: center; /* Mengatur posisi horizontal ke tengah */
  align-items: center; /* Mengatur posisi vertikal ke tengah */
  padding: 7px 7px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  width: 24vw; /* Ukuran pagination berdasarkan lebar layar */
  margin: 0 auto; /* Mengatur margin otomatis untuk mengatur di tengah */
  border: 2px solid var(--amber);
  cursor: pointer;
}

.Pagination li {
  list-style: none;
  line-height: 30px;
  margin: 0 5px;
}

.Pagination li.pageNumber,
.Pagination li.recommendedPageNumber {
  flex-grow: 1; /* Ukuran pagination mengikuti jumlah elemen li */
  height: 33px;
  line-height: 33px;
  text-align: center;
}

.Pagination li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50%;
}

.Pagination li.pageNumber:hover a,
.Pagination li.pageNumber.active a,
.Pagination li.recommendedPageNumber:hover a,
.Pagination li.recommendedPageNumber.active a {
  background: var(--amber);;
}

/* Responsif */
@media screen and (max-width: 1200px) {
  .Pagination {
    padding: 5px 10px;
    width: 40%;
    border-radius: 20px;
  }
  .Pagination li {
    margin: 0 8px;
  }
  .Pagination li a {
    font-size: 14px;
  }

  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 992px) {
  .Pagination {
    padding: 5px 15px;
    width: 45%;
    border-radius: 20px;
  }
  .Pagination li {
    margin: 0 8px;
  }
  .Pagination li a {
    font-size: 12px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 788px) {
  .Pagination {
    padding: 5px 5px;
    width: 55%;
    border-radius: 20px;
  }
  .Pagination li {
    margin: 0 10px;
  }
  .Pagination li a {
    font-size: 10px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .Pagination {
    padding: 2px 2px;
    width: 40%;
    border-radius: 20px;
  }
  .Pagination li {
    margin: 0 6px;
  }
  .Pagination li a {
    font-size: 8px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 670px) {
  .Pagination {
    padding: 2px 2px;
    width: 50%;
    border-radius: 15px;
  }
  .Pagination li {
    margin: 0 6px;
  }
  .Pagination li a {
    font-size: 8px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 490px) {
  .Pagination {
    width: 50%;
    padding: 2px 2px;
    border-radius: 17px;
  }
  .Pagination li {
    margin: 0 6px;
  }
  .Pagination li a {
    font-size: 8px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 20px;
    line-height: 20px;
  }
}


@media screen and (max-width: 414px) {
  .Pagination {
    width: 50%;
    padding: 2px 2px;
    border-radius: 17px;
  }
  .Pagination li {
    margin: 0 5px;
  }
  .Pagination li a {
    font-size: 8px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 376px) {
  .Pagination {
    width: 50%;
    padding: 2px 2px;
    border-radius: 15px;
  }
  .Pagination li {
    margin: 0 3px;
  }
  .Pagination li a {
    font-size: 8px;
  }
  .Pagination li.pageNumber,
  .Pagination li.recommendedPageNumber {
    height: 18px;
    line-height: 18px;
  }
}
/* Styling untuk tombol previous dan next */
.nav-button {
  font-family: var(--ff-bangers);
  font-weight: bold;
  width: 100px; /* Panjang tetap 100px untuk tombol */
  margin: 0 5px; /* Menyesuaikan jarak dari kiri dan kanan */
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #c0392b;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

.btn0 {
  background-color: var(--black);
  color: var(--white);
  max-width: max-content;
  padding: 8px 25px;
  font-weight: var(--fw-700);
  border-radius: 50px;
  transition: var(--transition-1);
}

.btn1 {
  background-color: transparent;
  color: var(--black);
  max-width: max-content;
  padding: 8px 25px;
  font-weight: var(--fw-700);
  border-radius: 50px;
  transition: var(--transition-1);
  text-decoration: none;
  display: inline-block;
  border: 2px solid var(--amber);
  position: relative;
  overflow: hidden;
}

.btn1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--amber);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
  color: var(--white);
}

.btn1:hover {
  color: var(--white);
}

.btn1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  color: var(--white);
}

.btn1-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Menyembunyikan overflow dari ::before */
}


/* Centering the button in the middle of the screen */
.btn-container {
  display: none;
  justify-content: center;
  align-items: center;
}
.offer-card:hover .btn-container {
  display: flex;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h21
.h3 { line-height: 1.1; }

.h1 {
  color: var(--white);
  font-family: var(--ff-bangers);
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
  letter-spacing: 1px;
}

.h2,
.h3 { color: var(--eerie-black); }

.h21 { color: var(--white); font-size: var(--fs-3); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.btn {
  background-color: var(--black);
  color: var(--white);
  max-width: max-content;
  padding: 8px 25px;
  font-weight: var(--fw-700);
  border-radius: 50px;
  transition: var(--transition-1);
}

.section-title {
  text-align: center;
  margin-block-end: 30px;
}

.section-title .span {
  display: inline;
  color: var(--portland-orange);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.manga-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 30px), 1fr));
  gap: 30px; /* Jarak antar gambar */
  align-items: center;
  justify-content: center;
}

/* Gambar manga */
.manga-image {
  width: 280px; /* Lebar gambar tetap 280px */
  height: 89px; /* Tinggi gambar tetap 89px */
  overflow: hidden; /* Memastikan gambar tidak keluar dari batas area */
  border-radius: var(--radius-10); /* Mengatur radius border sesuai kebutuhan */
  display: flex; /* Menggunakan flexbox */
  align-items: center; /* Menengahkan gambar vertikal */
  justify-content: center; /* Menengahkan gambar horizontal */
  margin: 0 auto;
}

/* Properti untuk gambar di dalam manga-image */
.manga-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Memastikan gambar memuat sepenuhnya ke dalam kotak */
  object-position: center; /* Posisi gambar di tengah */
}

/* Responsif */
/* Responsif */
@media screen and (max-width: 1200px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr));
    gap: 20px;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 15px), 1fr));
    gap: 15px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 670px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 8px), 1fr));
    gap: 8px;
    align-items: center;
  }
}

@media screen and (max-width: 580px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 5px), 1fr));
    gap: 5px;
    align-items: center;
  }
}

@media screen and (max-width: 490px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 10px), 1fr));
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 414px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 8px), 1fr));
    gap: 8px;
    align-items: center;
  }
}

@media screen and (max-width: 376px) {
  .manga-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 5px), 1fr));
    gap: 5px;
    align-items: center;
  }
}

.has-scrollbar {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
  margin-block-end: -20px;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
  cursor: pointer;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track {
  outline: 2px solid var(--portland-orange);
  border-radius: var(--radius-10);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  border-radius: var(--radius-10);
  background-color: var(--portland-orange);
  border: 2px solid var(--white);
}

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 30px); }

.grid-list {
  display: grid;
  gap: 30px;
}

.w-100 { width: 100%; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.action-btn.user { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 20px;
  z-index: 4;
}

.header.active {
  position: fixed;
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.nav-toggle-btn {
  font-size: 30px;
  transition: var(--transition-1);
}

.nav-toggle-btn.active .menu-icon,
.nav-toggle-btn .close-icon { display: none; }

.nav-toggle-btn .menu-icon,
.nav-toggle-btn.active .close-icon { display: block; }

.logo {
  font-family: var(--ff-carter_one);
  font-size: 3rem;
}

.header-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar-container {
  display: none;
}

.search-bar {
  border: none;
  border-radius: 15px;
  padding: 8px 16px;
  outline: none;
  font-size: 14px; /* Adjust the font size as needed */
  width: 0; /* Start with 0 width, will transition to the specified width */
  transition: width 0.3s ease, background-color 0.3s ease; /* Add transitions for width and background-color */
  background-color: rgba(255, 255, 255, 0); /* Set the background color with alpha for transparency */
}

.search-bar:focus {
  width: 280px; /* Adjust the width of the search bar when focused */
  background-color: rgba(255, 255, 255, 0.368); /* Set the background color without transparency when focused */
}

.search-bar:focus {
  width: 280px;
}

.header .btn-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--portland-orange);
  color: var(--white);
  font-size: var(--fs-8);
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50px;
}

.nav-toggle-btn:is(:hover, :focus),
.header .action-btn:is(:hover, :focus) { transform: scale(1.1); }

.navbar {
  position: fixed;
  top: 85px;
  left: -320px;
  bottom: 0;
  background-color: var(--white);
  max-width: 320px;
  width: 100%;
  padding: 20px 10px;
  box-shadow: var(--shadow-2);
  transition: 0.25s var(--cubic-out);
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar.active {
  transform: translateX(320px);
  transition-timing-function: var(--cubic-in);
}

.navbar-link {
  color: var(--eerie-black);
  font-size: var(--fs-6);
  padding: 10px 15px;
}

.navbar-action-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: var(--sonic-silver);
  color: var(--white);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  text-align: center;
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  margin-block-start: 85px;
  min-height: 360px;
  background-position: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.459);
  z-index: 1;
}

.hero .container {
  position: relative; /* Pastikan container memiliki posisi relatif */
  z-index: 2; /* Setel z-index agar konten di dalam container berada di atas overlay */
}

.hero-title,
.hero-text,
.btn {
  position: relative; /* Pastikan elemen-elemen ini memiliki posisi relatif */
  z-index: 3; /* Setel z-index lebih tinggi dari overlay untuk menghindari efek opasitas */
}

.hero.has-bg-image {
  background-image: url('./assets/images/coverhome.png');
  background-size: cover;
  position: relative;
}

.hero-title .span {
  font-size: 0.5em;
  color: var(--amber);
}

.hero-text {
  color: var(--amber);
  margin-block: 15px 25px;
}

.hero .btn { margin-inline: auto; }

.hero .btn:is(:hover, :focus) { background-color: var(--portland-orange); color: black;}

.btn {
  z-index: 2; /* Menetapkan z-index agar tombol berada di atas overlay */
  position: relative; /* Diperlukan untuk memastikan z-index bekerja dengan baik */
  color: rgb(0, 0, 0); /* Warna teks tombol */
  background-color: var(--amber); /* Warna latar belakang tombol */
  padding: 10px 20px;
  text-decoration: none;
}


/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category-card .card-banner { border-radius: var(--radius-10); }

.category-card .img-cover { transition: var(--transition-2); }

.category-card:is(:hover, :focus-within) .img-cover { transform: scale(1.08); }

.category-card .card-title {
  margin-block-start: 15px;
  text-align: center;
  transition: var(--transition-1);
}

.category-card .card-title:is(:hover, :focus) { color: var(--portland-orange); }





/*-----------------------------------*\
  #OFFERS
\*-----------------------------------*/

.offer-card {
  border-radius: var(--radius-10);
  padding: 20px;
  display: grid;
  align-content: center;
  transition: transform 0.3s ease-in-out;
}

.offer-card:hover {
  transform: scale(1.05); /* Scale the offer-card by 5% when hovered */
}

.offer-card .card-subtitle {
  font-size: var(--fs-7);
  text-transform: uppercase;
  font-weight: var(--fw-700);
}

.offer-card .card-title {
  color: var(--black);
  margin-block: 5px 24px;
}

.offer-card .btn {
  background-color: var(--portland-orange);
  transition: background-color 0.6s ease; /* Add a smooth transition for the background-color property */
}

.offer-card .btn:is(:hover, :focus) {
  background-color: var(--black);
}




/*-----------------------------------*\
  #offerpreview
\*-----------------------------------*/

.offer-card1 {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 352px; /* Sesuaikan dengan lebar yang diinginkan */
  margin: 0 auto; /* Untuk mengatur ke tengah secara horizontal */
  border: 2px solid #00bcd4;
  border-radius: 20px;
}

.offer-card1 img {
  max-width: 100%; /* Gambar tidak melebihi lebar container */
  height: auto; /* Menjaga proporsi tinggi gambar sesuai dengan lebar */
}

#chapterImages {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 0%, 35%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chapterImages img {
  width: 100%;
  min-height: 0 100px;
  width: var(--width);
  max-width: 100%; /* Gambar tidak akan melebihi lebar kontainer */
  max-height: 100%; /* Gambar tidak akan melebihi tinggi kontainer */
  margin-top: 10px;
  margin-bottom: 10px;
}

.offer-card2 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 352px; /* Sesuaikan dengan lebar yang diinginkan */
  margin: 0 auto; /* Untuk mengatur ke tengah secara horizontal */
}

.offer-card2 img {
  max-width: 100%; /* Gambar tidak melebihi lebar container */
  height: auto; /* Menjaga proporsi tinggi gambar sesuai dengan lebar */
}

.chapter-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Menentukan lebar kolom secara otomatis */
  gap: 10px; /* Jarak antara elemen */
  border: 2px solid #00bcd4;
  background-color: #151515;
  box-shadow: 0 0 20px rgba(0, 188, 212, 0.3);
  border-radius: 5px;
  padding: 20px;
  max-width: 800px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
  margin: 0 auto;
}

.chapter-container li {
  padding: 10px;
  border: 2px solid #00bcd4;
  border-radius: 10px;
  list-style: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}


.chapter-container li:hover {
  background-color: #00bcd4;
  color: #151515;
}

.chapter-container li span{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 450;
}
.chapter-divider {
  width: 100%;
  height: 2px;
  background-color: #00bcd4;
  margin: 10px 0;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--raisin-black);
  color: var(--battleship-gray);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.footer-top {
  padding-block-start: 100px;
  border-block-end: 1px solid var(--onyx);
}

.footer-top .container {
  display: grid;
  gap: 30px;
}

.footer .logo {
  color: var(--white);
  margin-block-end: 10px;
}

.footer-text {
  font-size: var(--fs-6);
  margin-block-end: 25px;
}

.footer-text .link {
  display: inline-block;
  color: var(--portland-orange);
}

.contact-item {
  margin-block-end: 15px;
  color: var(--white);
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-item ion-icon {
  flex-shrink: 0;
  font-size: 22px;
  color: var(--portland-orange);
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: var(--white);
  color: var(--black);
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background-color: var(--portland-orange);
  color: var(--white);
}

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  padding-block: 10px;
}

.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) { color: var(--portland-orange); }

.footer-bottom { padding-block: 20px; }

.copyright { margin-block-end: 10px; }

.copyright-link { display: inline-block; }

.footer-bottom .img {
  width: 100%;
  max-width: max-content;
}




/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--portland-orange);
  color: var(--white);
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow-2);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 4;
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */


 @media (min-width: 320px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4rem;
    --fs-3: 2.6rem;

  }

  .logo { font-size: 1.8rem; }

  /**
   * REUSED STYLE
   */

  .scrollbar-item { min-width: calc(100% - 20px); }

  .grid-list { grid-template-columns: 1fr 1fr; }

  .header-actions {
    gap: 8px;
  }
  .search-bar:focus {
    width: 130px;
  }
  

  /**
   * HERO
   */

  .hero {
    display: grid;
    padding-inline-start: 15px;
    justify-content: flex-start;
    align-items: center;
  }



  /**
   * OFFER
   */

   .offer .grid-list { grid-template-columns: repeat(2, 0.5fr); }

  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

}




@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 4rem;
    --fs-3: 2.6rem;

  }


  /**
   * REUSED STYLE
   */

  .scrollbar-item { min-width: calc(50% - 15px); }

  .grid-list { grid-template-columns: 1fr 1fr; }

  .logo { font-size: 2rem; }

  /**
   * HERO
   */

  .hero {
    display: grid;
    padding-inline-start: 20px;
    justify-content: flex-start;
    align-items: center;
  }


  /**
   * OFFER
   */

   .offer .grid-list { grid-template-columns: repeat(3, 1fr); }


  .search-bar:focus {
    width: 160px;
  }
  

  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

}



/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 9rem;

  }


  /**
   * REUSED STYLE
   */

  .scrollbar-item { min-width: calc(33.33% - 20px); }

  .grid-list { grid-template-columns: repeat(3, 1fr); }


  /**
   * HERO
   */

  .hero {
    aspect-ratio: 1512 / 784;
    padding-inline-start: 10%;
  }

  .hero-text { font-size: 2.4rem; }

  .search-bar:focus {
    width: 190px;
  }
  

  /**
   * OFFER
   */

  .offer .grid-list { grid-template-columns: repeat(3, 1fr); }

  /**
   * FOOTER
   */

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}



/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 12rem;
    --fs-3: 3rem;

    /**
     * spacing
     */

    --section-padding: 50px;

  }


  /**
   * REUSED STYLE
   */

  .container { padding-inline: 30px; }

  .scrollbar-item { min-width: calc(20% - 24px); }



  /**
   * HEADER
   */

  .nav-toggle-btn,
  .navbar-action-btn { display: none; }

  .header {
    --color: var(--white);
    background: none;
  }

  .header.active {
    --color: var(--black);
    background-color: var(--white);
  }

  .header .logo,
  .header .action-btn { color: var(--color); }

  .header .action-btn.user { display: block; }

  .logo { font-size: 3.8rem; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-end: auto;
  }

  .navbar-list {
    display: flex;
    gap: 10px;
  }

  .navbar-link {
    color: var(--color);
    --fs-6: 1.7rem;
    font-weight: var(--fw-700);
    transition: var(--transition-1);
  }

  .header.active .navbar-link:is(:hover, :focus) { color: var(--amber); }



  /**
   * HERO
   */

  .hero { margin-block-start: 0; }


  .offer .grid-list { grid-template-columns: repeat(4, 0.4fr); }


  .search-bar:focus {
    width: 200px;
  }
  

  /**
   * CATEGORY
   */

  .category-card .h3 { --fs-3: 2rem; }


  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr; }

}


/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 15rem;
    --fs-3: 3.2rem;

  }

  /**
   * REUSED STYLE
   */

  .grid-list { grid-template-columns: repeat(4, 1fr); }

  .offer .grid-list { grid-template-columns: repeat(5, 0.5fr); }

  .btn {
    background-color: var(--amber);
    color: var(--white);
    max-width: max-content;
    padding: 8px 50px;
    font-weight: var(--fw-1200);
    border-radius: 50px;
    transition: var(--transition-1);
    
  }

  /**
   * BRAND, FOOTER
   */

  :is(.brand, .footer) .container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }

  .footer { padding-block-start: 40px; }

}